.ClassListSearch {
  display: flex;
  justify-content: space-between;
}

.ClassListSearch .sub-box {
  display: flex;
  height: 3.6vh;
}
.select-box {
  height: 3.6vh;
}

.chk-box {
  display: flex;
  align-items: center;
}
.chk-box:first-child {
  margin-right: 0.2vw;
}

.ClassListSearch .input-box {
  border-radius: 3px;
  position: relative;
  display: flex;
  margin: 0 auto;
}

.search-input {
  width: 18vw;
  border-radius: 5px;
  border: 1px solid #999999;
}
.search-input {
  font-size: 1.2em;
  font-weight: 12px;
  padding: 5px;
  padding-left: 10px;
}
.search-input:focus {
  outline: 1.5px solid #999999;
}
.search-input:focus::placeholder {
  color: transparent;
}

.ClassListSearch .select-box {
  margin-right: 1vw;
}

.search-Img {
  height: 3vh;
}

.search-Img:hover {
  filter: invert(62%) sepia(87%) saturate(275%) hue-rotate(344deg)
    brightness(102%) contrast(98%);
}

#search-btn {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 1px;
  cursor: pointer;
}
